body {
background-color: black;
}
.square{
	background-color: #7c6103;
	width: 1000px;
	height: 4835px;
	position: absolute;
	z-index: -1;
}
.container{
	 overflow: hidden; /* will contain if #first is longer than #second */
}

.logo {
	float: left;
	width: 895px;
	height: 850px
}

.name {
	float: left;
	color: #fbd82c;
}

h1 {
	color: #fbd82c;
	letter-spacing: 8px;
	font-size: 299px;
	padding-left: 500px;
	text-shadow: 20px 20px #fdfcfa
}
h3 {
	color: #fbd82c;
	letter-spacing: 2px;
	position: relative;
	font-size: 100px;
	padding-left: 455px;
	padding-bottom: 49px
		
}
h2 {
	color: black;
	letter-spacing: 4px;
	font-size: 80px;
	position: center;
	padding-left: 450px

}

P {
	font-size: 55PX;
	letter-spacing: 25px;
	color: #fbd82c;
	margin-left: 1020px;
	position: center;
}
.img{
	position: relative;
	margin-left: 1020px;
	width: 500px;
	margin-bottom: 200px;
}
.about{
	padding-left:  700px;
	font-size: 75px;
	font-family: arial;
}
.EDUCATION{
	padding-left: 509px;
	font-size: 75px;
	font-family: arial;
}
.skills{
	padding-left: 700px;
	font-size: 75px;
	font-family: arial;
}
.portfolio{
	padding-left: 100px;
	font-size: 75px;
	font-family: arial;
}
.contact{
	padding-left: 600px;
	text-decoration: none;
	color: black;
	font-size: 75px;
	font-family: arial;
	margin-bottom: 70px
	
}
.slp{
	padding-left: 20px;
	font-size: 85px;
	letter-spacing: 7px;
	margin-top: 50px
}
.obt{
	padding-left: 20px;
	font-size: 85px;
	letter-spacing: 7px
}
.photoshop{
	padding-left: 20px;
	padding-bottom: 40px;
	font-size: 65px;
	letter-spacing: 8px;
		
	
}
.html{
	padding-left: 20px;
	padding-bottom: 40px;
	font-size: 65px;
	letter-spacing: 8px
}
.css{
	padding-left: 20px;
	padding-bottom: 40px;
	font-size: 65px;
	letter-spacing: 8px;
}
.php{
	padding-left: 20px;
	padding-bottom: 40px;
	font-size: 65px;
	letter-spacing: 8px;
}
.aboutp{
	padding-left: 20px;
	font-size: 65px;
	letter-spacing: 7px;
	padding-bottom: 45px;
	border-bottom: 25px;
	
}
.dots{
	object-position: center;
	padding-left: 1012px;
	height: 600px;
	width: 1000px;
}
.square2{
	background-color: black;
	height: 31.6px;
	width: 1000px;
	margin-right: 197px;
	margin-top: 12.px;
}
.logo2{
	width: 1520px;
	margin-left: 400px;
}












